<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8"/>
    <title>WhatAbout Text Analysis</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    </head>
    <body>
    <h2></h2>

    <div id="tweets">
    </div>

    </body>
</html>

<script>

  setInterval(function(){
    $.getJSON('/refreshData', {
    }, function(data) {
        tweets = data.sLabel;
        scores = data.sData;
        sw = data.sSw;
        $("h2").append("Sentiment analysis for: "+sw);

        for(t in tweets){
          $("#tweets").innerHtml += t;
        }
         
      } 
    );
  },6000);

</script>