<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8"/>
    <title>WhatAbout Text Analysis</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    
    </head>
    <body>
    <h2 id="title"></h2>

    <div id="tweets">
    </div>

    </body>
</html>

<script>

  setInterval(function(){
    $.getJSON('/refreshData', {
    }, function(data) {
        tweets = data.sTweets;
        scores = data.sScores;
        sum_score = 0.0;
        mean_score = sum_score/scores.length;
        
        $("#tweets").empty();
        for(t in tweets){
          index = parseInt(t)+1;
          //score = Math.round(scores[t] * 100)/100;
          score = scores[t];
          sum_score+=score;
          if(score>=0.6){
            emoji = '&#128077';
            color = 'green';
          }else if(score<0.6 && score>=0.4){
            emoji = '&#x1F937';
            color = 'yellow';
          }else{
            emoji = '&#128078';
            color = 'red';
          }
          $("#tweets").append("<p>Number: "+index+" | Tweet: "+tweets[t]+"</p><p style='color:"+color+";'>Score: "+score+"</p><span style='font-size:100px;'>"+emoji+"</span>");
        }

        $("#title").text("Mean sentiment analysis score for the word specified: "+mean_score);
      } 
    );
  },5000);

</script>